/* Full screen cricket background */


/* Dark overlay for better readability */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #1F2937;
  z-index: -1;
}

/* Card styling */
.card {
  background-color: #29344b!important;
  color: rgb(121, 158, 238);
  border-radius: 10px;
}

/* Dark input fields */
.card input {
  background-color: #1a1a1a !important;
  color: white !important;
  border: 1px solid #444 !important;
}

.card input::placeholder {
  color: #bbb !important;
}

/* List styling */
.list-group-item {
  background-color: #1a1a1a !important;
  color: white
}